AI Daily Briefing.json
{
  "name": "AI Daily Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "e3366023-c8f8-4e2b-81ae-fa858fadbe11",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        90112,
        1664
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Handle both API response format (with .data) and direct file format\nconst inputData = $('Fetch Web Config').first().json.data;\n\nlet rawTopics = inputData.topics || [];\nconst tickers = inputData.tickers || [];\n\n// Extract names from objects if necessary and filter for enabled topics\nconst topics = rawTopics.map(t => {\n  if (typeof t === 'string') return t;\n  return t.enabled !== false ? t.name : null;\n}).filter(t => t !== null);\n\nreturn {\n  topics,\n  tickers,\n  rssQuery: topics.length > 0 ? topics.join(' OR ') : \"market news\"\n};"
      },
      "id": "1e6a45e9-9999-4c8a-88a1-7ed1728bdace",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        90640,
        1744
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "tickers",
        "options": {}
      },
      "id": "82a0a8e6-4860-4f49-971f-bae55652d03d",
      "name": "Split Tickers",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        90800,
        1600
      ]
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.tickers }}?interval=1d&range=1d",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "9905a9ef-72f4-46fc-9f49-027381487b44",
      "name": "Fetch Stocks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        90976,
        1600
      ]
    },
    {
      "parameters": {
        "url": "=https://news.google.com/rss/search?q={{ $node[\"Config\"].json[\"rssQuery\"] }}&hl=en-US&gl=US&ceid=US:en",
        "options": {}
      },
      "id": "1ce2df4c-cd27-4177-b550-d19dc823e535",
      "name": "Fetch News RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        90800,
        1872
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  chart: $input.all().map(item => item.json.chart)\n}"
      },
      "id": "0ef2d607-1624-46e6-83f9-bc81a1e483b9",
      "name": "Aggregate Stocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        91136,
        1600
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn {\n  title: items.map(i => i.json.title),\n  link: items.map(i => i.json.link),\n  content: items.map(i => i.json.content),\n  media: items.map(i => i.json.thumbnail || i.json.enclosure?.url || \"\")\n};"
      },
      "id": "b44dfb5f-879d-4f04-8a26-b82efed11e82",
      "name": "Aggregate News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        91088,
        1872
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "f10cd8a2-9015-41dd-8452-bde25d362e27",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        91328,
        1776
      ]
    },
    {
      "parameters": {
        "jsCode": "// DATA PRE-PROCESSOR\nconst config = $(\"Config\").first().json;\n\n// Safely get Stocks data\nlet stocks = [];\ntry {\n  const stocksData = $(\"Aggregate Stocks\").first().json;\n  const rawCharts = Array.isArray(stocksData.chart) ? stocksData.chart : [];\n  for (let i = 0; i < rawCharts.length; i++) {\n    const chart = rawCharts[i];\n    if (!chart) continue;\n    const res = chart.result && chart.result[0];\n    if (!res) continue;\n    const meta = res.meta || {};\n    const indicators = res.indicators || {};\n    const quote = (indicators.quote && indicators.quote[0]) || {};\n    const close = (quote.close && quote.close[0]) || meta.regularMarketPrice;\n    const prevClose = meta.chartPreviousClose;\n    stocks.push({\n      ticker: meta.symbol,\n      name: meta.longName || meta.symbol,\n      price: close,\n      change: prevClose ? parseFloat(((close - prevClose) / prevClose * 100).toFixed(2)) : 0,\n      volume: (quote.volume && quote.volume[0]) || meta.regularMarketVolume,\n      ma50: close\n    });\n  }\n} catch (e) { console.log('Stocks data processing error', e); }\n\n// Safely get News data\nlet news = [];\ntry {\n  const titles = $(\"Aggregate News\").first().json.title || [];\n  const links = $(\"Aggregate News\").first().json.link || [];\n  const contents = $(\"Aggregate News\").first().json.content || [];\n  const media = $(\"Aggregate News\").first().json.media || [];\n\n  news = titles.map((title, i) => {\n       return {\n        title: Array.isArray(title) ? title[0] : title,\n        l: Array.isArray(links[i]) ? links[i][0] : (links[i] || \"\"),\n        takeaway: (Array.isArray(contents[i]) ? contents[i][0] : (contents[i] || \"\"))\n                   .replace(/<[^>]*>?/gm, '')\n                   .slice(0, 500),\n        img: Array.isArray(media[i]) ? media[i][0] : (media[i] || \"\")\n      };\n    }).filter(item => item.title && item.title.trim().length > 0);\n} catch (e) {\n  console.log(\"News data not available\", e);\n}\n\nif (stocks.length === 0 && news.length === 0) {\n  throw new Error(\"No data available from either Stocks or News. Check your configuration.\");\n}\n\nconst suffix = \"Return ONLY raw JSON. No talk, no preamble, no tools.\";\n\nconst getCommand = (prompt, data) => {\n  return `cd /home/adam/n8n && cat <<'EOF' | gemini -p \"\" --yolo\\n${prompt} ${suffix}\\nInput: ${JSON.stringify(data)}\\nEOF`;\n};\n\nreturn {\n  stocks,\n  news: news.slice(0, 50),\n  cmd_news: getCommand(\"Act as a News Intelligence Agent. YOUR GOAL IS VOLUME AND PRECISION. Do not skip or summarize away items. Analyze ALL provided news items and bucket theminto granular, descriptive categories. For each item, you MUST preserve the 'title', 'l', 'img', and provide a concise 'takeaway' (max 20 words) and 'sentiment' score. If you receive 50 items, output at least 40+ items in your response. Return ONLY raw JSON.\", news.slice(0, 50)),\n  cmd_market: getCommand(\"Act as a Market Analyst with 20+ years of experience. Provide deep research and analysis for the near future (1-3 months) specifically for the user's watchlist stocks: \" + stocks.map(s => s.ticker).join(', ') + \". Focus on catalysts, risks, and potential price action. Include a sentiment score (-1.0 to 1.0) for each.\", stocks),\n  cmd_macro: getCommand(\"Act as an Opportunity Scout. Your mission is to hunt for NEW, high-conviction investment opportunities NOT related to the user's current watchlist. Scan market analytics, financial forums, and alternative data sources to find 3-5 assets with high potential over a 1-3 month horizon. For each opportunity, you MUST provide: 'ticker', 'name', a detailed 'explanation' of your reasoning (the 'why'), a 'sentiment' score, and a 'horizon' of '1-3 months'. This is for research, not financial advice.\", {})\n};"
      },
      "id": "cf152f6f-d6f4-40f2-b0fc-d2a254e52561",
      "name": "Data Pre-processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        91536,
        1776
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "={{ $('Data Pre-processor').first().json.cmd_news }}"
      },
      "id": "961884c8-57dc-4fd4-9525-7f5164a0852c",
      "name": "Agent: News Intel",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        91888,
        1536
      ],
      "credentials": {
        "sshPassword": {
          "id": "0EnwcxrRu8Fo75Hq",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "={{ $('Data Pre-processor').first().json.cmd_market }}"
      },
      "id": "7313e217-8225-406b-a8f6-e04aa00683a5",
      "name": "Agent: Market Analyst",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        91888,
        1776
      ],
      "credentials": {
        "sshPassword": {
          "id": "0EnwcxrRu8Fo75Hq",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "={{$('Data Pre-processor').first().json.cmd_macro}}\n"
      },
      "id": "abccdeea-2b5d-4ebb-81d1-345c4fd2eb41",
      "name": "Agent: Opportunity Scout",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        91888,
        2016
      ],
      "credentials": {
        "sshPassword": {
          "id": "0EnwcxrRu8Fo75Hq",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "b33127cf-0f53-413f-b759-fbdc7426ddce",
      "name": "Merge Agents 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        92352,
        1632
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "07b37c27-be14-451b-94c2-5b17636c6e48",
      "name": "Merge Agents 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        92544,
        1776
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = {\n  agent_results: {\n    news_intel: $(\"Agent: News Intel\").first().json,\n    market_analyst: $(\"Agent: Market Analyst\").first().json,\n    opportunity_scout: $(\"Agent: Opportunity Scout\").first().json\n  },\n  market_data: $(\"Data Pre-processor\").first().json.stocks || []\n};\n\nconst suffix = \"Return ONLY raw JSON. No talk, no preamble, no tools.\";\nconst architectPrompt = \"Act as the Lead Architect. Your goal is to produce the final Daily Briefing JSON. CRITICAL: DO NOT SUMMARIZE DATA AWAY. 1. Organize news into granular categories based on the News Intel input. 2. Ensure every news item has 'title', 'l', 'sentiment', 'img', and 'takeaway'. 3. For every stock item in Market Analyst, cross-reference with 'market_data' to include 'price' and 'change' fields. 4. Ensure the final JSON is complete and valid. DO NOT TRUNCATE. Return ONLY raw JSON\";\n\nconst command = `cd /home/adam/n8n && cat <<'EOF' | gemini -p \"\" --yolo\\n${architectPrompt} ${suffix}\\nInput: ${JSON.stringify(results)}\\nEOF`;\n\nreturn {\n  ...results,\n  cmd_architect: command\n};"
      },
      "id": "fd3471ba-fc9c-45eb-ba1b-80f230aefa77",
      "name": "Aggregate Agent Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        92736,
        1776
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "={{ $('Aggregate Agent Results').item.json.cmd_architect }}"
      },
      "id": "6de5c251-4fdb-44c9-ae57-7299c10597b0",
      "name": "Agent: Lead Architect",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        92928,
        1776
      ],
      "credentials": {
        "sshPassword": {
          "id": "0EnwcxrRu8Fo75Hq",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://alpha-horizon-backend.adamzborovsky.com/api/v1/briefing",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.stdout }}"
            }
          ]
        },
        "options": {}
      },
      "id": "27b665eb-f96e-46e5-b9ae-39f789884d3b",
      "name": "POST Briefing to Web",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        93264,
        1760
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-briefing",
        "options": {}
      },
      "id": "f86192a8-222d-4775-a7ff-6d6223b34924",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        90112,
        1856
      ],
      "webhookId": "89d64947-6f55-4f49-949d-3b44ed7058d2"
    },
    {
      "parameters": {
        "url": "https://alpha-horizon-backend.adamzborovsky.com/api/v1/briefing/config",
        "options": {}
      },
      "id": "61424ea0-6e1a-4d9d-948f-178498647c68",
      "name": "Fetch Web Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        90320,
        1744
      ]
    },
    {
      "parameters": {
        "command": "=cat <<'EOF' > /home/adam/n8n/AI_Briefing/briefing_config.json\n{{ JSON.stringify($json.data, null, 2) }}\nEOF"
      },
      "id": "693df343-c941-49fd-a311-54c2be8b3676",
      "name": "Save Config to File",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        90496,
        1744
      ],
      "credentials": {
        "sshPassword": {
          "id": "0EnwcxrRu8Fo75Hq",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c51d517-8b00-4834-ae62-45a6343e1d33",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        92048,
        2016
      ],
      "id": "b67b801b-f872-48dd-9eca-6f50b67d79e5",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c51d517-8b00-4834-ae62-45a6343e1d33",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        93088,
        1776
      ],
      "id": "74313609-28a4-4137-a6f9-05595b6f5a33",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c51d517-8b00-4834-ae62-45a6343e1d33",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        92048,
        1776
      ],
      "id": "0c5b9dc0-fc81-4848-b798-9ccdeeb66b22",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c51d517-8b00-4834-ae62-45a6343e1d33",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        92048,
        1536
      ],
      "id": "39a4aaa2-eb6f-4e10-a3f5-666e72f46632",
      "name": "If4"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-02-23T21:08:11.602+00:00",
          "Readable date": "February 23rd 2026, 9:08:11 pm",
          "Readable time": "9:08:11 pm",
          "Day of week": "Monday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "23",
          "Hour": "21",
          "Minute": "08",
          "Second": "11",
          "Timezone": "UTC (UTC+00:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Web Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Web Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Web Config": {
      "main": [
        [
          {
            "node": "Save Config to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Config to File": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Split Tickers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch News RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tickers": {
      "main": [
        [
          {
            "node": "Fetch Stocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stocks": {
      "main": [
        [
          {
            "node": "Aggregate Stocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Stocks": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch News RSS": {
      "main": [
        [
          {
            "node": "Aggregate News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate News": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Data Pre-processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Pre-processor": {
      "main": [
        [
          {
            "node": "Agent: News Intel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent: Market Analyst",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent: Opportunity Scout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: News Intel": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Market Analyst": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Opportunity Scout": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Agents 1": {
      "main": [
        [
          {
            "node": "Merge Agents 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Agents 2": {
      "main": [
        [
          {
            "node": "Aggregate Agent Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Agent Results": {
      "main": [
        [
          {
            "node": "Agent: Lead Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Lead Architect": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Merge Agents 2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Agent: Opportunity Scout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "POST Briefing to Web",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent: Lead Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge Agents 1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Agent: Market Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Merge Agents 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent: News Intel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 25
  },
  "versionId": "d60c077f-be3d-4d79-8dab-a0a11e086567",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "462f72c1cb99079f620d4944d8321993a68403a9c985b9412cdd835b5280d81a"
  },
  "id": "KUGwhozHkuRG7Jhc",
  "tags": []
}