AI Daily Briefing.json
{
  "name": "AI Daily Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "82594da4-b6e6-4f76-bc0c-61a63f44adea",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        80192,
        1664
      ]
    },
    {
      "parameters": {
        "content": "### Expected Web Behavior\n* **Real-time Updates**: Reflect new data without refresh.\n* **Sentiment Mapping**: \n  - score > 0.3: Kinetic Green\n  - score < -0.3: Warning Red\n  - Otherwise: Neutral Cyan\n* **Config Sync**: Toggles should update `isEnabled` on the backend.\n\n### Expected Webhook Behavior\n* **Validation**: Valid JSON with briefing structure.\n* **Security**: Webhook ID in URL acts as secret.\n* **Responses**:\n  - 201: Success\n  - 422: Disabled\n  - 404: Not Found",
        "height": 400,
        "width": 500
      },
      "id": "doc-node-001",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        79600,
        1600
      ]
    },
    {
      "parameters": {
        "filePath": "/home/adam/n8n/AI_Briefing/briefing_config.json"
      },
      "id": "da422b70-377e-4604-b725-7b48546e6268",
      "name": "Read Config File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        80336,
        1664
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "\n// Handle both API response format (with .data) and direct file format\nconst inputData = $input.first().json.data || $input.first().json;\n\nlet rawTopics = inputData.topics || [];\nconst tickers = inputData.tickers || [];\n\n// Extract names from objects if necessary and filter for enabled topics\nconst topics = rawTopics.map(t => {\n  if (typeof t === 'string') return t;\n  return t.enabled !== false ? t.name : null;\n}).filter(t => t !== null);\n\nreturn {\n  topics,\n  tickers,\n  rssQuery: topics.length > 0 ? topics.join(' OR ') : \"market news\"\n};"
      },
      "id": "0f0b2f51-1f91-47ae-8e0c-f6a2c6857da5",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80640,
        1856
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "tickers",
        "options": {}
      },
      "id": "0e1a2937-395c-44cc-94a2-e2a160191b77",
      "name": "Split Tickers",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        80784,
        1712
      ]
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.tickers }}?interval=1d&range=1d",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "d4a53aec-3b34-44bc-8a5c-e5e894e643b0",
      "name": "Fetch Stocks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        80960,
        1712
      ]
    },
    {
      "parameters": {
        "url": "=https://news.google.com/rss/search?q={{ $node[\"Config\"].json[\"rssQuery\"] }}&hl=en-US&gl=US&ceid=US:en",
        "options": {}
      },
      "id": "af307f88-a704-4cb1-bcde-dbbf4d9d6557",
      "name": "Fetch News RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        80784,
        1984
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  chart: $input.all().map(item => item.json.chart)\n}"
      },
      "id": "546b6285-4a8d-444c-9fa8-51d01dc5bd53",
      "name": "Aggregate Stocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        81120,
        1712
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn {\n  title: items.map(i => i.json.title),\n  link: items.map(i => i.json.link),\n  content: items.map(i => i.json.content),\n  media: items.map(i => i.json.thumbnail || i.json.enclosure?.url || \"\")\n};"
      },
      "id": "32431591-4a5e-4bf5-8f49-2f1288217738",
      "name": "Aggregate News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        81072,
        1984
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "523db724-339d-49ff-9ae3-468bd437109e",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        81312,
        1888
      ]
    },
    {
      "parameters": {
        "jsCode": "// DATA PRE-PROCESSOR\nconst config = $(\"Config\").first().json;\n\n// Safely get Stocks data\nlet stocks = [];\ntry {\n  const stocksData = $(\"Aggregate Stocks\").first().json;\n  const rawCharts = Array.isArray(stocksData.chart) ? stocksData.chart : [];\n  for (let i = 0; i < rawCharts.length; i++) {\n    const chart = rawCharts[i];\n    if (!chart) continue;\n    const res = chart.result && chart.result[0];\n    if (!res) continue;\n    const meta = res.meta || {};\n    const indicators = res.indicators || {};\n    const quote = (indicators.quote && indicators.quote[0]) || {};\n    const close = (quote.close && quote.close[0]) || meta.regularMarketPrice;\n    const prevClose = meta.chartPreviousClose;\n    stocks.push({\n      ticker: meta.symbol,\n      name: meta.longName || meta.symbol,\n      price: close,\n      change: prevClose ? parseFloat(((close - prevClose) / prevClose * 100).toFixed(2)) : 0,\n      volume: (quote.volume && quote.volume[0]) || meta.regularMarketVolume,\n      ma50: close\n    });\n  }\n} catch (e) { console.log('Stocks data processing error', e); }\n\n// Safely get News data\nlet news = [];\ntry {\n  const titles = $(\"Aggregate News\").first().json.title || [];\n  const links = $(\"Aggregate News\").first().json.link || [];\n  const contents = $(\"Aggregate News\").first().json.content || [];\n  const media = $(\"Aggregate News\").first().json.media || [];\n\n  news = titles.map((title, i) => {\n       return {\n        title: Array.isArray(title) ? title[0] : title,\n        l: Array.isArray(links[i]) ? links[i][0] : (links[i] || \"\"),\n        takeaway: (Array.isArray(contents[i]) ? contents[i][0] : (contents[i] || \"\"))\n                   .replace(/<[^>]*>?/gm, '')\n                   .slice(0, 500),\n        img: Array.isArray(media[i]) ? media[i][0] : (media[i] || \"\")\n      };\n    }).filter(item => item.title && item.title.trim().length > 0);\n} catch (e) {\n  console.log(\"News data not available\", e);\n}\n\nif (stocks.length === 0 && news.length === 0) {\n  throw new Error(\"No data available from either Stocks or News. Check your configuration.\");\n}\n\nconst suffix = \"Return ONLY raw JSON. No talk, no preamble, no tools.\";\n\nconst getCommand = (prompt, data) => {\n  return `cd /home/adam/n8n && cat <<'EOF' | gemini -p \"\" --yolo\\n${prompt} ${suffix}\\nInput: ${JSON.stringify(data)}\\nEOF`;\n};\n\nreturn {\n  stocks,\n  news: news.slice(0, 50),\n  cmd_news: getCommand(\"Act as a News Intelligence Agent. Analyze and bucket news into: 1. Critical Intel, 2. Market Pulse, 3. Strategic Trends. Include sentiment (-1.0 to 1.0).\", news.slice(0, 20)),\n  cmd_market: getCommand(\"Act as a Market Analyst with 20+ years of experience. Provide deep research and analysis for the near future (1-3 months) specifically for the user's watchlist stocks: \" + stocks.map(s => s.ticker).join(', ') + \". Focus on catalysts, risks, and potential price action. Include a sentiment score (-1.0 to 1.0) for each.\", stocks),\n  cmd_macro: getCommand(\"Act as an Opportunity Scout. Your mission is to hunt for NEW, high-conviction investment opportunities NOT related to the user's current watchlist. Scan market analytics, financial forums, and alternative data sources to find 3-5 assets with high potential over a 1-3 month horizon. For each opportunity, you MUST provide: 'ticker', 'name', a detailed 'explanation' of your reasoning (the 'why'), a 'sentiment' score, and a 'horizon' of '1-3 months'. This is for research, not financial advice.\", {})\n};"
      },
      "id": "f8fe2286-b543-4a86-b379-1d1a0504352f",
      "name": "Data Pre-processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        81520,
        1888
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "={{ $json.cmd_news }}"
      },
      "id": "586ab230-815f-4f10-aadc-a19620e7f75e",
      "name": "Agent: News Intel",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        81712,
        1744
      ],
      "credentials": {
        "sshPassword": {
          "id": "0EnwcxrRu8Fo75Hq",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "={{ $json.cmd_market }}"
      },
      "id": "3e10f444-8b17-4861-906a-23f993a9e342",
      "name": "Agent: Market Analyst",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        81712,
        1888
      ],
      "credentials": {
        "sshPassword": {
          "id": "0EnwcxrRu8Fo75Hq",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "={{ $json.cmd_macro }}"
      },
      "id": "f689d142-5464-4779-ac82-31f03ffbde7e",
      "name": "Agent: Opportunity Scout",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        81712,
        2032
      ],
      "credentials": {
        "sshPassword": {
          "id": "0EnwcxrRu8Fo75Hq",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "456796ab-501f-446f-9095-047af53acb3c",
      "name": "Merge Agents 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        81888,
        1808
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "8577369e-8bf2-490c-a360-db7238831598",
      "name": "Merge Agents 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        82064,
        1888
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = {\n  agent_results: {\n    news_intel: $(\"Agent: News Intel\").first().json,\n    market_analyst: $(\"Agent: Market Analyst\").first().json,\n    opportunity_scout: $(\"Agent: Opportunity Scout\").first().json\n  }\n};\n\nconst suffix = \"Return ONLY raw JSON. No talk, no preamble, no tools.\";\nconst architectPrompt = \"Act as the Lead Architect. Your goal is to produce the final Daily Briefing JSON. Your output MUST follow this structure: 1. Create standard categories for news and market analysis (e.g., 'Market Pulse', 'Watchlist Analysis'). 2. For these standard categories, provide: 'sentiment_score', 'summary', and an 'items' array. NEWS ITEMS must have: 'title', 'l' (link), 'sentiment', 'img', and 'takeaway'. STOCK ITEMS must have: 'ticker', 'name', 'price', 'change', 'sentiment', and 'analysis'. 3. CRITICALLY, you MUST create a top-level category named 'strategic_opportunities'. Items in this category, sourced from the Opportunity Scout, MUST have the following fields: 'ticker', 'name', 'explanation' (the detailed reasoning from the scout), 'sentiment', and 'horizon' (e.g., '1-3 months'). Ensure the final output is ONLY the raw JSON object.\";\n\nconst command = `cd /home/adam/n8n && cat <<'EOF' | gemini -p \"\" --yolo\\n${architectPrompt} ${suffix}\\nInput: ${JSON.stringify(results)}\\nEOF`;\n\nreturn {\n  ...results,\n  cmd_architect: command\n};"
      },
      "id": "f7b55343-6f9b-47b3-809b-6d8cae8d790d",
      "name": "Aggregate Agent Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        82256,
        1888
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "={{ $json.cmd_architect }}"
      },
      "id": "ed8f1ff9-1296-4a21-80aa-101b38d003e6",
      "name": "Agent: Lead Architect",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        82448,
        1888
      ],
      "credentials": {
        "sshPassword": {
          "id": "0EnwcxrRu8Fo75Hq",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://alpha-horizon-backend.adamzborovsky.com/api/v1/briefing",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.stdout }}"
            }
          ]
        },
        "options": {}
      },
      "id": "522a436c-bb56-4b57-ae45-e8f0fc433ee9",
      "name": "POST Briefing to Web",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        82624,
        1888
      ]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        80496,
        1648
      ],
      "id": "dd2c4900-7168-486c-ab6e-1f82e5e2bfa2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-briefing",
        "options": {}
      },
      "id": "webhook-trigger-node",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        80000,
        1800
      ]
    },
    {
      "parameters": {
        "url": "https://alpha-horizon-backend.adamzborovsky.com/api/v1/briefing/config",
        "options": {}
      },
      "id": "fetch-web-config-node",
      "name": "Fetch Web Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        80200,
        1850
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Web Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Web Config": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Config File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Config File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Split Tickers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch News RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tickers": {
      "main": [
        [
          {
            "node": "Fetch Stocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stocks": {
      "main": [
        [
          {
            "node": "Aggregate Stocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Stocks": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch News RSS": {
      "main": [
        [
          {
            "node": "Aggregate News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate News": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Data Pre-processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Pre-processor": {
      "main": [
        [
          {
            "node": "Agent: News Intel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent: Market Analyst",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent: Opportunity Scout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: News Intel": {
      "main": [
        [
          {
            "node": "Merge Agents 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Market Analyst": {
      "main": [
        [
          {
            "node": "Merge Agents 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Agent: Opportunity Scout": {
      "main": [
        [
          {
            "node": "Merge Agents 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Agents 1": {
      "main": [
        [
          {
            "node": "Merge Agents 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Agents 2": {
      "main": [
        [
          {
            "node": "Aggregate Agent Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Agent Results": {
      "main": [
        [
          {
            "node": "Agent: Lead Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Lead Architect": {
      "main": [
        [
          {
            "node": "POST Briefing to Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 25
  },
  "versionId": "db48b088-d7b1-4641-9a47-6affa34759d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "462f72c1cb99079f620d4944d8321993a68403a9c985b9412cdd835b5280d81a"
  },
  "id": "KUGwhozHkuRG7Jhc",
  "tags": []
}