AI Daily Briefing.json
{
  "name": "AI Daily Briefing",
  "nodes": [
    {
      "parameters": {
        "jsCode": "\n// Handle both API response format (with .data) and direct file format\nconst inputJson = $input.first().json;\nconst inputData = inputJson.data || (inputJson.body && inputJson.body.config);\nlet rawTopics = inputData.topics || [];\nconst tickers = inputData.tickers || [];\nconst userId = inputData.userId || (inputJson.body && inputJson.body.userId) || null;\n\n// Extract names from objects if necessary and filter for enabled topics\nconst topics = rawTopics.map(t => {\n  if (typeof t === 'string') return t;\n  return t.enabled !== false ? t.name : null;\n}).filter(t => t !== null);\n\nreturn {\n  topics,\n  tickers,\n  userId,\n  rssQuery: topics.length > 0 ? topics.join(' OR ') : \"market news\"\n};"
      },
      "id": "082826ba-d66a-4e73-ab17-f08561e88ec5",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        95200,
        3008
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "tickers",
        "options": {}
      },
      "id": "c88eddec-bf23-4ddf-927f-ff2b689bdb26",
      "name": "Split Tickers",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        95360,
        2864
      ]
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.tickers }}?interval=1d&range=1d",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "28b12ee2-d5f5-45b6-bb2b-213b4673953e",
      "name": "Fetch Stocks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        95536,
        2864
      ]
    },
    {
      "parameters": {
        "url": "=https://news.google.com/rss/search?q={{ $node[\"Config\"].json[\"rssQuery\"] }}&hl=en-US&gl=US&ceid=US:en",
        "options": {}
      },
      "id": "c9f982f7-fdac-4ed1-bb7d-347375c33217",
      "name": "Fetch News RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        95360,
        3136
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  chart: $input.all().map(item => item.json.chart)\n}"
      },
      "id": "80c08098-b122-48e0-9ab7-8ad3a30bf758",
      "name": "Aggregate Stocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        95696,
        2864
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn {\n  title: items.map(i => i.json.title),\n  link: items.map(i => i.json.link),\n  content: items.map(i => i.json.content),\n  media: items.map(i => i.json.thumbnail || i.json.enclosure?.url || \"\")\n};"
      },
      "id": "4be2b67e-9fd3-44ae-b453-68d84cc818a1",
      "name": "Aggregate News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        95648,
        3136
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "9675e448-24cc-4107-9919-e324b63ba381",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        95888,
        3040
      ]
    },
    {
      "parameters": {
        "jsCode": "// DATA PRE-PROCESSOR\nconst config = $(\"Config\").first().json;\n\n// Safely get Stocks data\nlet stocks = [];\ntry {\n  const stocksData = $(\"Aggregate Stocks\").first().json;\n  const rawCharts = Array.isArray(stocksData.chart) ? stocksData.chart : [];\n  for (let i = 0; i < rawCharts.length; i++) {\n    const chart = rawCharts[i];\n    if (!chart) continue;\n    const res = chart.result && chart.result[0];\n    if (!res) continue;\n    const meta = res.meta || {};\n    const indicators = res.indicators || {};\n    const quote = (indicators.quote && indicators.quote[0]) || {};\n    const close = (quote.close && quote.close[0]) || meta.regularMarketPrice;\n    const prevClose = meta.chartPreviousClose;\n    stocks.push({\n      ticker: meta.symbol,\n      name: meta.longName || meta.symbol,\n      price: close,\n      change: prevClose ? parseFloat(((close - prevClose) / prevClose * 100).toFixed(2)) : 0,\n      volume: (quote.volume && quote.volume[0]) || meta.regularMarketVolume,\n      ma50: (indicators.quote && indicators.quote[0] && indicators.quote[0].close) ? \n            indicators.quote[0].close.slice(-50).reduce((a,b) => a+b, 0) / Math.min(50, indicators.quote[0].close.length) : close\n    });\n  }\n} catch (e) { console.log('Stocks data processing error', e); }\n\n// Safely get News data\nlet news = [];\ntry {\n  const titles = $(\"Aggregate News\").first().json.title || [];\n  const links = $(\"Aggregate News\").first().json.link || [];\n  const contents = $(\"Aggregate News\").first().json.content || [];\n  const media = $(\"Aggregate News\").first().json.media || [];\n\n  news = titles.map((title, i) => {\n       return {\n        title: Array.isArray(title) ? title[0] : title,\n        l: Array.isArray(links[i]) ? links[i][0] : (links[i] || \"\"),\n        takeaway: (Array.isArray(contents[i]) ? contents[i][0] : (contents[i] || \"\"))\n                   .replace(/<[^>]*>?/gm, '')\n                   .slice(0, 500),\n        img: Array.isArray(media[i]) ? media[i][0] : (media[i] || \"\")\n      };\n    }).filter(item => item.title && item.title.trim().length > 0);\n} catch (e) {\n  console.log(\"News data not available\", e);\n}\n\nif (stocks.length === 0 && news.length === 0) {\n  throw new Error(\"No data available from either Stocks or News. Check your configuration.\");\n}\n\nconst stockContext = JSON.stringify(stocks);\nconst newsContext = JSON.stringify(news.slice(0, 25));\nconst agentDir = \"AI_Briefing/agents\";\n\nconst getCommand = (agentFile, dataStr) => {\n  return `cd /home/adam/n8n && { cat ${agentDir}/${agentFile}; cat <<'EOF'\\n\\nInput: ${dataStr}\\nEOF\\n} | gemini -p \"\" --yolo`;\n};\n\nreturn {\n  stocks,\n  news: news.slice(0, 50),\n  cmd_news: getCommand(\"news_intel.md\", newsContext),\n  cmd_market: getCommand(\"market_analyst.md\", stockContext),\n  cmd_macro: getCommand(\"opportunity_scout.md\", newsContext)\n};"
      },
      "id": "e843cdcb-d734-4730-8ba9-38433341ed95",
      "name": "Data Pre-processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96096,
        3040
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "={{ $('Data Pre-processor').first().json.cmd_news }}"
      },
      "id": "9eb8ee87-2d49-4fa8-ba8c-c495d862ff95",
      "name": "Agent: News Intel",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        96448,
        2800
      ],
      "credentials": {
        "sshPassword": {
          "id": "0EnwcxrRu8Fo75Hq",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "={{ $('Data Pre-processor').first().json.cmd_market }}"
      },
      "id": "9800451f-b6fe-443a-9254-238fe54ef94a",
      "name": "Agent: Market Analyst",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        96448,
        3040
      ],
      "credentials": {
        "sshPassword": {
          "id": "0EnwcxrRu8Fo75Hq",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "={{$('Data Pre-processor').first().json.cmd_macro}}\n"
      },
      "id": "c0ddffcd-8d6e-421d-8c01-0621b3a480ee",
      "name": "Agent: Opportunity Scout",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        96448,
        3280
      ],
      "credentials": {
        "sshPassword": {
          "id": "0EnwcxrRu8Fo75Hq",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "2632fa56-7105-4a98-a873-706e16c4ed84",
      "name": "Merge Agents 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        96912,
        2896
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "e7a384bc-287c-4d1b-be80-25ae9b16030f",
      "name": "Merge Agents 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        97104,
        3040
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = {\n  agent_results: {\n    news_intel: $(\"Agent: News Intel\").first().json,\n    market_analyst: $(\"Agent: Market Analyst\").first().json,\n    opportunity_scout: $(\"Agent: Opportunity Scout\").first().json\n  },\n  market_data: $(\"Data Pre-processor\").first().json.stocks || []\n};\n\nconst agentDir = \"AI_Briefing/agents\";\nconst dataStr = JSON.stringify(results);\n\nconst command = `cd /home/adam/n8n && { cat ${agentDir}/lead_architect.md; cat <<'EOF'\\n\\nInput: ${dataStr}\\nEOF\\n} | gemini -p \"\" --yolo`;\n\nreturn {\n  ...results,\n  cmd_architect: command\n};"
      },
      "id": "3df9f5ca-ce28-43ad-938a-b4de8dd3d3ec",
      "name": "Aggregate Agent Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        97296,
        3040
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "={{ $('Aggregate Agent Results').item.json.cmd_architect }}"
      },
      "id": "6cdc4fb3-28a5-4762-b851-e96cf51ffe4d",
      "name": "Agent: Lead Architect",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        97488,
        3040
      ],
      "credentials": {
        "sshPassword": {
          "id": "0EnwcxrRu8Fo75Hq",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://alpha-horizon-backend.adamzborovsky.com/api/v1/briefing",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.stdout }}"
            },
            {
              "name": "raw_agents",
              "value": "={{ $('Aggregate Agent Results').first().json.agent_results }}"
            },
            {
              "name": "raw_market_data",
              "value": "={{ $('Aggregate Agent Results').first().json.market_data }}"
            },
            {
              "name": "userId",
              "value": "={{ $('Config').first().json.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4dc432d1-d9a0-4950-8189-8a64a64f5c6f",
      "name": "POST Briefing to Web",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        97824,
        3024
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-briefing",
        "options": {}
      },
      "id": "bce594d6-3d22-4f64-a285-03634610bdc1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        94800,
        3120
      ],
      "webhookId": "89d64947-6f55-4f49-949d-3b44ed7058d2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c51d517-8b00-4834-ae62-45a6343e1d33",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96608,
        3280
      ],
      "id": "55f70a51-0f72-4111-960a-e17941a4cb3e",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c51d517-8b00-4834-ae62-45a6343e1d33",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        97648,
        3040
      ],
      "id": "7c16cab6-63ee-4b32-bb00-ea87486e4bd6",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c51d517-8b00-4834-ae62-45a6343e1d33",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96608,
        3040
      ],
      "id": "e28a2cc3-6c9e-4457-befc-b95e43b63de1",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c51d517-8b00-4834-ae62-45a6343e1d33",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96608,
        2800
      ],
      "id": "275b832b-e981-4059-a5ae-b04334ba3966",
      "name": "If4"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Split Tickers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch News RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tickers": {
      "main": [
        [
          {
            "node": "Fetch Stocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stocks": {
      "main": [
        [
          {
            "node": "Aggregate Stocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Stocks": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch News RSS": {
      "main": [
        [
          {
            "node": "Aggregate News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate News": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Data Pre-processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Pre-processor": {
      "main": [
        [
          {
            "node": "Agent: News Intel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent: Market Analyst",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent: Opportunity Scout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: News Intel": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Market Analyst": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Opportunity Scout": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Agents 1": {
      "main": [
        [
          {
            "node": "Merge Agents 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Agents 2": {
      "main": [
        [
          {
            "node": "Aggregate Agent Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Agent Results": {
      "main": [
        [
          {
            "node": "Agent: Lead Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Lead Architect": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Merge Agents 2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Agent: Opportunity Scout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "POST Briefing to Web",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent: Lead Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge Agents 1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Agent: Market Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Merge Agents 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent: News Intel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 25
  },
  "versionId": "7e66e0ef-8713-4283-a76f-fbb35329a330",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "462f72c1cb99079f620d4944d8321993a68403a9c985b9412cdd835b5280d81a"
  },
  "id": "KUGwhozHkuRG7Jhc",
  "tags": []
}